*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.landing{
    background-image: url(images/index-back.png);
}
.intro{
    margin-top: 30px;
    margin-left: 60px;
}
.intro h1{
    color: #719b9b;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    margin-top: 100px;
    text-transform: uppercase;
}
.intro h1 span{
    font-size: 40px;
    line-height: 0.5;
    font-weight: normal;
    text-transform: lowercase;
}
.intro p{
    font-size: 16px;
    margin-top: 30px;
    color:dimgray;
}
.intro button{
    border-style: none;
    background-color: #ce5a71;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
}
.intro button a{
    color: #f7e7d8;
    font-size: 16px;
    text-decoration: none;
}



.container{
    width: 100%;
    height: 100vh;
    background: #312a45;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container form{
    width: 90%;
    max-width: 500px;
    padding: 50px 30px 20px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    position: relative;
}
.sign{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    color: #719b9b;
    font-size: 26px;
    padding: 20px;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input-group{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    position: relative;
}
.input-group label{
    flex-basis: 28%;
    color: #333;
}
.input-group input{
    flex-basis: 68%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 10px 0;
    border-bottom: 1px solid #999;
    color: #333;
    font-size: 16px;
}
::placeholder{
    font-size: 14px;
}

form button{
    background: #719b9b;
    color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 10px 40px;
    outline: 0;
    cursor: pointer;
    display: block;
    margin: 30px auto 10px;
}

.input-group span{
    position: absolute;
    bottom: 12px;
    right: 17px;
    font-size: 14px;
    color: red;
}

#submit-error{
    color: red;
}

.fa-check-circle{
    color: green;
}


nav{
    background-color:  #f7e7d8;
    border-bottom: solid 3px #719b9b;
}
.nav-container{
    display: flex;
    justify-content: space-between;

}
.nav-logo{
    margin-top: 30px;
    margin-left: 30px;
}
.nav-user{
    margin-top: 30px;
    margin-right: 30px;
}
.side{
    width: 20%;
    height: 100%;
    position: fixed;
}
.welcome{
    margin-top: 100px;

}
.card{
    width: 70%;
}





